/* ==================== EDITING AREA ====================== */
/* .container {
	border: 1px solid red;
}

.row {
	border: 1px solid blue;
}

.col {
	border: 1px solid green;
}

.d-flex {
	border-radius: 1px solid yellow;
}

#home, #about, #classes, #reviews {
	height: 100vh;
} */

/* ====================== APPLIES TO ALL====================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	width: 100%;
	font-family: 'Lato', sans-serif;
}

html, body, header, section, main, .wrap, #contact {
	background: #f2f2f2;
} 

html {
	font-size: 16px;
}




/* TOP NAV */

#wrap--home .top-of-nav {
	padding: 0;
	margin: 0;
	background: #f2f2f2;
	z-index: 10;
}

#wrap--home .col-12:first-child {
	background: #f2f2f2;
}


#wrap--home .top-of-nav .col > img {
	float: left;
	margin-right: 20px;
	margin-top: 10px;
	overflow: hidden;
}

#wrap--home .top-of-nav .col:nth-of-type(2),
#wrap--home .top-of-nav .col:nth-of-type(3) {
	margin: 10px 0;
}

#wrap--home .company--name {
	font-family: 'Dancing Script', cursive;
	color: #93291E;
	font-size: 3em;
	font-weight: 700;
	padding: 0;
}

.main--home i {
	color: #c5a15b;
	text-decoration: none!important;
}

.main--home i:hover, .main--home i:focus {
	color: #93291E;
	text-decoration: none!important;
}

/* Global Button Styles */

.btn {
	border-radius: 0!important;
}

a.btn.animated-button {
	border-radius: 0;
	display: block!important;
	border: 1px solid #7a0909;
	color: #7a0909;
	outline: none!important;
	box-shadow: none!important;
	/* padding controls thinkness of button*/
	padding: 5px;
	text-decoration: none!important;
	text-align: center;
	overflow:hidden;
	position: relative;
	cursor: pointer;

} 

a.btn.animated-button:hover {
	border-radius: 0;
	display: block!important;
	border: #f2f2f2!important;
	outline: none!important;
	box-shadow: none!important;
	background: #7a0909;
	color: #fff;
	/* padding controls thinkness of button*/
	padding: 5px;
	text-decoration: none!important;
	text-align: center;
	overflow:hidden;
	position: relative;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	cursor: pointer;
} 





/* ==========================HOME=========================== */

#landing {
	background-image: url(../images/header-8.jpeg);
	background-size: cover;
	height: 100vh;
	position: relative;
	background-position-y: center;
	background-position-x: right;

}

#landing h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 7em;
	color: #7a0909;
	text-shadow: 2px 1px  3px #f2f2f2;
	font-weight: 900;

	position: absolute;
	top: 8px;
	left: 26px;
}

#landing p {
	position: absolute;
	top: 115px;
	left: 80px;
	text-shadow: 2px 1px  3px #f2f2f2;
}

#landing a {
	position: absolute;
	top: 150px;
	left: 45px;
	display: block;
	width: 100%;
	scroll-behavior: smooth;
}

.card-body-home {
	background: #93291E;
}







/* =========================== TOP MOST HEADER ===================== */

#header__top {
	width: 100%;
	height: 15vh;
	position: relative;
}

#header__top > .row {
	margin: 5vh;
}

#header__top .company--name {
	font-family: 'Dancing Script', cursive;
	color: #93291E;
	font-size: 3em;
	font-weight: 700;
	padding: 0;
	display: inline-block;
}


img[alt*="phone"],
img[alt*="address"],
img[alt*="email"] {
	width: 30px;
	height: 30px;
	margin-top: 0px;
}



#header__top .col:nth-child(2),
#header__top .col:nth-child(3) {
	margin-top: 10px;
}




/* ====================== NAV SECTION ======================= */

/* TITLE */

.company--name a,
.company--name a:hover,
.company--name a:link,
.company--name a:active {
	text-decoration: none;
	
}

/* EXPANDED */
#navbar__expand {
	background: #2b2b2b;
}

.navbar-nav {
	padding: 0 5em;
}

.navbar-nav a {
	color: #f2f2f2;
	display: inline-block;
	margin-right: 2em;
} 

/* COLLAPSED */
#nav__collapse {
	background: #2b2b2b;
	text-align: center;
	padding-bottom: 5px;
	display: none;
}

#nav__collapse a {
    display: inline-block;
    margin: 0;
    text-decoration: none;
	padding: 16px 8px 8px;
	color: #fff;
}


#nav__collapse img {
	width: 30px;
	height: 30px;
}

.nav-item__collapse {
	margin: 0 3em;
}

#nav__collapse img:focus {
	border: 2px solid #c5a15b;
}



/* NAVBAR STYLING AND SELECTORS */
#navbar__expand ul li a {
	color: #f2f2f2;
}

.navbar-nav a.nav-item { position: relative;}
.navbar-nav a.nav-item:hover {
	color: #93291E;
}

.navbar-nav a.nav-item:hover:after {
	content: " ";
    height: 3px;
    width: 100%;
    position: absolute;
    display: block;
    background: #93291E;
    bottom: -8px;
	left: 2px;
	border: 0;
}

nav a {
	text-decoration: none;
    position: relative;
}

.navbar ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

.navbar ul li {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: -3px;
}

.navbar ul li .dropdown-menu {
	background: #2b2b2b;
    top: 116%;
    border-radius: 0;
    left: 6px;
	z-index: -1;
	margin-top: 0;
}

.navbar ul li .dropdown-menu .dropdown-item{
	background: #2b2b2b;
}

.navbar ul li .dropdown-menu .dropdown-item:hover{
	background: #424242;
}



/* ===================== FOOTER ========================= */

footer {
	background: #2b2b2b;
	color: #f2f2f2;
	width: 100%;
	height: auto;
	padding: 1em 5em;
}

footer hr {
	padding: 0;
	width: 100%;
	border: .5px solid rgba(122, 118, 112, 0.678);
}

footer .company--name {
	font-family: 'Dancing Script', cursive;
	color: #f2f2f2;
	font-size: 2em;
	font-weight: 700;
}

footer .heading {
	color: #74757f;
}

footer__bottom {
	text-align: center;
	display: block;
	width: 100%;
}

footer i:hover {
	color: #7a0909;
}




/* ========================== CONTACT US ===================== */



/* CONTACT IN MAIN SECTION */
#main__contact {
	background: rgb(214,215,216);
	/* background: rgba(220,220,220, .4); */
}





/* ACTUAL CONTACT PAGE */
.bg--image-1 {
	background-image: url(../images/header-1.jpeg);
	background-size: cover;
	height: 50vh;
	position: relative;
}

textarea {
	margin: 0 15px;
}

.form-control:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control {
	border-radius: 0;
}

#file {
	display: none;
	visibility: hidden;
	position: absolute;
}


.form-control:focus,
textarea:focus {
	outline: none!important;
}

/* GOOGLE MAP */
#google-map {
	position: relative;
	padding-bottom: 75%; 
	height: 0;
	overflow: hidden;
}

#google-map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}



/* ================================ TEAM ============================= */

.fadeIn {
	animation: fadeIn 3s ease-in-out;
}

#myBtnContainer > button:hover {
	background-color: #ddd;
}

#myBtnContainer > button:focus {
	background-color: #666;
	color: #f2f2f2;
}

/* TEAM CARDS ONLY */
#team .card-deck .card {
	display: none;
	float: left;
	width: 33.333%;
	min-width: 350px;
	max-width: 350px;
}


#team .card-deck .show {
	display: block;
}


/* COACHES */
.coach-1 {
	background: url(../images/coach-1.jpeg);
	background-size: cover;
	position: relative;
	background-position-x: center;
	background-position-y: center;
}

.coach-2 {
	background: url(../images/coach-2.jpeg);
	background-size: cover;
	position: relative;
	background-position-x: center;
	background-position-y: top;
}

.coach-3 {
	background: url(../images/coach-3.jpeg);
	background-size: cover;
	position: relative;
	background-position-x: center;
	background-position-y: center;
}

.coach-4 {
	background: url(../images/coach-4.jpeg);
	background-size: cover;
	position: relative;
	background-position-x: center;
	background-position-y: center;
}

.coach-5 {
	background: url(../images/coach-5.jpeg);
	background-size: cover;
	position: relative;
	background-position-x: center;
	background-position-y: center;
}

.coach-6 {
	background: url(../images/coach-6.jpeg);
	background-size: cover;
	position: relative;
	background-position-x: center;
	background-position-y: center;
}


/* COACH PROFILES USING BOOTSTRAP CARDS*/

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 0%!important;
	position: relative;
}

.card-img {
	border-radius: 0%!important;
}

.card-footer {
	background: #93291E;
	border-radius: 0%!important;
}

.card-footer img {
	margin-left: 10px;
}


/* COACH PROFILE ANIMATION */
.card-top {
    position: relative;
}

.card-img {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.card-img-middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.card-top:hover .card-img {
	opacity: 0.3;
}

.card-top:hover .card-img-middle {
	opacity: 1;
}

.middle-icon {
	background: url(../images/search-black.png);
	width: 50px;
	height: 50px;
	background-size: cover;
	text-align: center;

}



/* ============================ CLASSES ===================== */


/* CLASSES SPACING */
#curriculum {
	margin-top: 5em;
}

#schedule {
	margin-top: 6em;
}

#coaches {
	margin-top: 7em;
}


/* TABLE  */

.table__heading {
	background-color: #424242;
	color: white;
}

.table__body {
	background: #fff;
}

.table {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.table a {
	color: #7a0909;
	font-weight: 700;
}

/* MODAL */
.modal-content {
	border-radius: 0!important;
	background-color: #f2f2f2;
}


/* CAROUSEL */
.carousel-inner .carousel-item {
	transition: -webkit-transform 2s ease;
	transition: transform 2s ease;
	transition: transform 2s ease, -webkit-transform 2s ease;
  }
/* ================================VOICE===================== */


/* CAROUSEL */
/* SEE SIZE @ MEDIA QUERIES */
.carousel-1 {
	background: url(../images/voice-1.jpg);
	background-size: cover;
	background-position-y: center;
}

.carousel-2 {
	background: url(../images/voice-6.jpeg);
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
}

.carousel-3 {
	background: url(../images/voice-8.jpeg);
	background-size: cover;
	background-position-x: center;
}

.carousel-4 {
	background: url(../images/voice-4.jpeg);
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
}


/* ================================GUITAR===================== */


#guitar-carousel .carousel-1 {
	background: url(../images/guitar-1.jpeg);
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
}

#guitar-carousel .carousel-2 {
	background: url(../images/guitar-3.jpeg);
	background-size: cover;
	background-position-y: center;
	background-position-x: left;
}

#guitar-carousel .carousel-3 {
	background: url(../images/string-9.jpeg);
	background-size: cover;
	background-position-x: center;
}

#guitar-carousel .carousel-4 {
	background: url(../images/string-8.jpeg);
	background-size: cover;
	background-position-x: right;
	background-position-y: center;
}

/* ==========================PIANO=========================== */


#piano-carousel .carousel-1 {
	background: url(../images/piano-4.jpeg);
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
}

#piano-carousel .carousel-2 {
	background: url(../images/piano-1.jpeg);
	background-size: cover;
	background-position-y: center;
	background-position-x: left;
}

#piano-carousel .carousel-3 {
	background: url(../images/piano-5.jpeg);
	background-size: cover;
	background-position-y: center;
	background-position-x: left;
}




/* ==========================DRUMS=========================== */

#drums-carousel .carousel-1 {
	background: url(../images/percussion-2.jpeg);
	background-size: cover;
	background-position-x: left;
	background-position-y: top;
}

#drums-carousel .carousel-2 {
	background: url(../images/percussion-4.jpeg);
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
}

#drums-carousel .carousel-3 {
	background-image: url(../images/percussion-6.jpeg);
	background-size: cover;
	background-position-y: center;
}


/* ==========================SAXOPHONE=========================== */

#saxophone-carousel .carousel-1 {
	background-image: url(../images/saxophone-3.jpeg);
	background-size: cover;
	background-position-y: bottom;
	background-position-x: center;
}


#saxophone-carousel .carousel-2 {
	background: url(../images/saxophone-1.jpeg);
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
}

#saxophone-carousel .carousel-3 {
	background: url(../images/saxophone-2.jpeg);
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
}






/* ==========================VIOLIN=========================== */


#violin-carousel .carousel-1 {
	background-image: url(../images/string-4.jpeg);
	background-size: cover;
	background-position-y: center;
	background-position-x: right;
}


#violin-carousel .carousel-2 {
	background: url(../images/string-3.jpeg);
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
}

#violin-carousel .carousel-3 {
	background: url(../images/string-2.jpeg);
	background-size: cover;
	background-position-y: center;
	background-position-x: right;
}


/*================================ FAQS ================================ */


/* BACKGROUND */
.bg--image-2 {
	background-image: url(../images/header-7.jpeg);
	background-size: cover;
	height: 50vh;
	position: relative;
	background-position-x: center;
	background-position-y: center;
}

/* ACCORDION */
.transition,  p, .accordion__list-item > i:before, .accordion__list-item > i:after {
	transition: all 0.25s ease-in-out;
  }
  
.flipIn, .accordion__list-item {
	animation: flipdown 0.5s ease both;
  }
  
.no-select, .accordion__list-item > h4 {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
  
#accordion {
	min-height: 0;
	display: inline-block;
	position: relative;
	background-color: #f2f2f3;
	padding: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 1px, 0.2);
  }
  
  .accordion__list-item > h4 {
	display: block;
	background-color: #f2f2f3;
	cursor: pointer;
  }
  
  .accordion__list-item > p {
	color: #191919;
	line-height: 26px;
	letter-spacing: 1px;
	position: relative;
	overflow: hidden;
	max-height: 800px;
	width: 100%;
	opacity: 1;
	transform: translate(0, 0);
	margin-top: 2em;
	z-index: 2;
  }
  
  .accordion__list {
	list-style: none;
	perspective: 900;
	padding: 0;
	margin: 0;
	width: 100%;
  }
  .accordion__list-item {
	position: relative;
	padding: 0;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 20px;
	border-top: .5px dotted slategray;
  }

  .accordion__list-item:nth-of-type(1) {
	animation-delay: 0.5s;
  }

  .accordion__list-item:nth-of-type(2) {
	animation-delay: 0.75s;
  }

  .accordion__list-item:nth-of-type(3) {
	animation-delay: 1s;
  }

  .accordion__list-item:nth-of-type(4) {
	animation-delay: 1.5s;
  }

  .accordion__list-item:nth-of-type(5) {
	animation-delay: 2s;
  }

  .accordion__list-item:nth-of-type(6) {
	animation-delay: 2.5s;
  }

  .accordion__list-item:nth-of-type(7) {
	animation-delay: 3s;
  }


  .accordion__list-item:last-of-type {
	padding-bottom: 0;
  }

  .accordion__list-item > i {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 16px;
	right: 0;
  }
  
  .accordion__list-item > i:before, .accordion__list-item > i:after {
	content: "";
	position: absolute;
	background-color: #7a0909;
	width: 3px;
	height: 9px;
  }

  .accordion__list-item > i:before {
	transform: translate(-2px, 0) rotate(45deg);
  }

  .accordion__list-item > i:after {
	transform: translate(2px, 0) rotate(-45deg);
  }

  .accordion__list-item > input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
  }

  .accordion__list-item > input[type=checkbox]:checked ~ p {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	transform: translate(0, 50%);
  }
  
  .accordion__list-item > input[type=checkbox]:checked ~ i:before {
	transform: translate(2px, 0) rotate(45deg);
  }

  .accordion__list-item > input[type=checkbox]:checked ~ i:after {
	transform: translate(-2px, 0) rotate(-45deg);
  }
  
  @keyframes flipdown {
	0% {
	  opacity: 0;
	  transform-origin: top center;
	  transform: rotateX(-90deg);
	}
	5% {
	  opacity: 1;
	}
	80% {
	  transform: rotateX(8deg);
	}
	83% {
	  transform: rotateX(6deg);
	}
	92% {
	  transform: rotateX(-3deg);
	}
	100% {
	  transform-origin: top center;
	  transform: rotateX(0deg);
	}
  }


  /* faqs-button */

  .faqs-btn {
	  margin-bottom: 7em;
  }

/* ================================ REUSABLE ============================ */

.indent {
	text-indent: 5em;
}

.underline {
	text-decoration: underline;
}

.hr-break {
	border: .5px dashed #2b2b2b;
}

.line-height-2 {
	line-height: 2;
}

.company-name {
	font-family: 'Dancing Script', cursive!important;
	color: #93291E;
	font-weight: 900;
	font-size: 30px;
}

.display-4 {
	font-family: 'Dancing Script', cursive;
	color: #141414;
	vertical-align: bottom;
	text-shadow: 2px 1px  3px white;
	font-weight: 900;
}

.display-6 {
	font-family: 'Lato', sans-serif;
	letter-spacing: .1em;
	color: #2b2b2b;
}

.heading-small {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	letter-spacing: .1em;
}

.gray-text {
	font-size: 1em;
	color: #696969;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
}

.emphasize {
	color: #93291E;
	text-shadow: 2px 1px  3px white;
}

.small {
	font-size: 12px;
	font-weight: 600;
}


.link {
	text-decoration: none;
	color: #f2f2f2;
}

.link:hover, .link:active, .link:focus {
	text-decoration: none;
	color: #93291E;
}

.red {
	color: #93291E!important;
}


.bg--content {
	position: absolute;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
}


.text-small {
	font-size: 13px!important;
}


.block {
	display: block;
}

.main-text {
	font-size: 17px;
	color: #191919;
	font-weight: 200;
	font-family: 'Lato', sans-serif;
	display: block;

}

.bold {
	font-weight: 900;
	color: #191919;
}

.icon-bg {
	width: 40px;
	height: 40px;
}



















/******* FOR EDITING / TO BE DELETED ********/

/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/





/*============================ DESKTOP ==========================*/

@media only screen and (min-width: 961px) {

	

	/* NAV */
	nav a.active:after {
		content: '';
		height: 3px;
		width: 100%;
		position: absolute;
		display: block;
		background: #c5a15b;
		bottom: -8px;
		left: 2px;
		border: 0;
	}

	/*TEAM*/

	#profile .thumbnail-text {
		padding: 0 10px;
		font-size: 14px;
	}

	#profile .center-sm {
		padding: 0 10px;
	}

	.thumbnail-bg {
		width: 100%!important;
		height: 20em!important;
		position: relative;
		display: block;
		margin: 0 auto;
	} 

	#myBtnContainer > button {
		border-radius: 0; 
		margin: 1px;
		display: inline-block;
		width: 100px;
		cursor: pointer;
	
	}

	/* CLASSES SPACING */
	#curriculum {
		margin-top: 7em;
	}

	#schedule {
		margin-top: 6.5em;
	}

	#coaches {
		margin-top: 10em;
	}

	/* HOMLE */
	.home img[alt*="guitar"],
	.home img[alt*="piano"],
	.home img[alt*="drums"],
	.home img[alt*="trumpet"],
	.home img[alt*="traditional"] {
		width: 50px;
		height: 50px;
	}

	.home img[alt*="microphone"] {
		width: 40px;
		height: 40px;
	}
	

	/*ACCORDION*/
	#accordion .btn {
	    font-size: large;
	    color: white!important;
	    text-decoration: none!important;
	}

	/* CLASS CAROUSEL SIZE */
	.class-carousel {
		width: 100%;	
		height: 85vh;
		padding: 0;
	}




	/* REUSABLE */
	.vanish-lg {
		display: none;
	}

	.appear-lg {
		display: block;
	}


	.break-lg {
		display: block;
	}

	.mt-5-lg {
		margin-top: 2.5em;
	}

	.text-small-lg {
		font-size: 14px;
	}

	


}


/*==============================TABLET ==============================*/

@media only screen and (min-width:426px) and (max-width:960px) { 

	h1 {
		font-size: 1.8rem;
	}

	/* BUTTONS */


	footer i:focus {
		color: #7a0909;
	}

	a.btn.animated-button:focus,
	a.btn.animated-button:active,{
		border: #f2f2f2!important;
		outline: none!important;
		box-shadow: none!important;
	} 

	a.btn.animated-button:focus:before,
	a.btn.animated-button:active:before {
		border: #f2f2f2!important;
		outline:none!important;
		box-shadow: none!important;
	} 

	a.btn.animated-button:focus:after,
	a.btn.animated-button:active:after {
		border: #f2f2f2!important;
		outline:none!important;
		box-shadow: none!important;
	} 

	#landing a {
		position: absolute;
		top: 150px;
		left: 38px;
		display: block;
		width: 100%;
		scroll-behavior: smooth;
	}
	

	

	/* NAVBAR */

	.navbar-nav {
		padding: 0;
	}

	nav a.active:after {
		content: '';
		height: 3px;
		width: 100%;
		position: absolute;
		display: block;
		background: #c5a15b;
		bottom: -8px;
		left: 2px;
		border: 0;
	}

	/* HEADER */
	#header__top {
		height: auto;
	}

	#header__top > .row {
		margin: 0;
		padding: 0;
	}

	#header__top .col:nth-child(2),
	#header__top .col:nth-child(3) {
		display: none;
	}



	/*TEAM*/

	#profile {
		padding: 0 4em;
	}

	#profile .thumbnail-text {
		padding: 0 17px;
		font-size: 14px;
	}

	#profile .center-sm {
		padding: 0 17px;
	}

	.thumbnail-bg {
		width: 100%!important;
		height: 16em!important;
		position: relative;
		display: block;
		margin: 0 auto;
	} 

	#myBtnContainer > button {
		border-radius: 0; 
		margin: 2px;
		display: inline-block;
		width: 90px;
	
	}

	#team .card-deck .card {
		display: none;
		float: left;
		width: 50%;
		min-width: 270px;
		max-width: 270px;
	}


	#team .card-deck .show {
		display: block;
	}

	#team .icon-bg {
		width: 30px;
		height: 30px;
	}



	/* CLASS CAROUSEL SIZE */
	.class-carousel {
		width: 100%;	
		height: 80vh;
		padding:0;
	}
	

	/* MAIN__CONTACT */
		#main__contact  img[alt*="phone"],
		#main__contact  img[alt*="email"],
		#main__contact  img[alt*="address"] {
			width: 30px;
			height: 30px;
			margin-top: 0;
	}

	#main__contact img[alt*="phone"] {
		float: left;
		margin-right: 30px;
		overflow: hidden;
	}

	#main__contact img[alt*="address"] {
		float: right;
		margin-left: 30px;	
		overflow: hidden;
		
	}


	/* FAQ */
	.accordion__list item > p {
		font-size: 14px!important;
	}

	/* HOME */
	.home img[alt*="guitar"],
	.home img[alt*="piano"],
	.home img[alt*="drums"],
	.home img[alt*="trumpet"],
	.home img[alt*="traditional"] {
		width: 35px;
		height: 35px;
	}

	.home img[alt*="microphone"] {
		width: 30px;
		height: 30px;
	}
	


	/* REUSABLE */

	
	
	.vanish-md {
		display: none;
	}

	.appear-md {
		display: block;
	}

	.text-small-md {
		font-size: 14px;
	}

	.text-smaller-md {
		font-size: 13px;
	}


	.break-md {
		display: block;
	}

	.display-4 {
		font-size: 2.5em;
		text-align: center;
	}

	.mt-5-md {
		margin-top: 2.5em;
	}


}



/*==============================MOBILE==============================*/

@media only screen and (max-width:425px) { 

	h1 {
		font-size: 1.5rem;
	}

	/* LANDING PAGE */
	
	#landing h1 {
		font-family: 'Dancing Script', cursive;
		font-size: 7em;
		color: #7a0909;
		text-shadow: 2px 1px  3px #f2f2f2;
		font-weight: 900;
	
		position: absolute;
		top: 8px;
		left: 16px;
	}
	
	#landing p {
		position: absolute;
		top: 115px;
		left: 70px;
		text-shadow: 2px 1px  3px #f2f2f2;
	}
	
	#landing a {
		position: absolute;
		top: 150px;
		left: 35px;
		display: block;
	
		width: 50%;
		scroll-behavior: smooth;
	}
	/* BUTTONS */

	a.btn.animated-button:focus,
	a.btn.animated-button:active,{
		border: #f2f2f2!important;
		outline: none!important;
		box-shadow: none!important;
	} 

	a.btn.animated-button:focus:before,
	a.btn.animated-button:active:before {
		border: #f2f2f2!important;
		outline:none!important;
		box-shadow: none!important;
	} 

	a.btn.animated-button:focus:after,
	a.btn.animated-button:active:after {
		border: #f2f2f2!important;
		outline:none!important;
		box-shadow: none!important;
	} 
	


	/* HEADER TOP */
	#header__top {
		height: auto;
	}

	#header__top > .row {
		margin: 0;
		padding: 0;
	}


	#header__top img:first-of-type {
		padding-left: 0;
	}

	#header__top .col:nth-child(2),
	#header__top .col:nth-child(3) {
		display: none;
	}


	/* NAV */
	#nav__collapse {
		display: block;
		padding-top: 0;
	}

	.nav-item__collapse > img {
		margin: 0 3px;
	}

	#nav__collapse a{
		padding: 16px 6px 7px;
	}

	

	nav a.active:after {
		content: '';
		height: 3px;
		width: 100%;
		position: absolute;
		display: block;
		background: #c5a15b;
		bottom: -5px;
		left: 2px;
		border: 0;
	}

	.nav-link:focus:after {
		content: " ";
		height: 3px;
		width: 100%;
		position: absolute;
		display: block;
		background: #93291E;
		bottom: -8px;
		left: 2px;
		border: 0;
	}

	
	/* FOOTER */
	footer {
		padding: 2em;
	}

	footer i:focus {
		color: #7a0909;
	}

	/* MAIN__CONTACT */
	#main__contact  img[alt*="phone"],
	#main__contact  img[alt*="email"],
	#main__contact  img[alt*="address"] {
		width: 27px;
		height: 27px;
		margin-top: 0;
	}

	#main__contact img[alt*="phone"] {
		float: left;
		margin-right: 10px;
		margin-left: 10px;
		overflow: hidden;
	}

	#main__contact img[alt*="address"] {
		float: right;
		margin-left: 10px;	
		margin-right: 10px
		overflow: hidden;
		
	}



	/* CLASS CAROUSEL SIZE */
	.class-carousel {
		width: 100%;	
		height: 70vh;
		padding: 0;
	}
	
	
	/*TEAM*/


	#profile .thumbnail-text {
		padding: 0 5px;
		text-align: center;
	}

	#profile .center-sm {
		justify-content: center;
	}



	.thumbnail-bg {
		width: 100%!important;
		height: 14em!important;
		position: relative;
		display: block;
		margin: 0 auto;
	} 

	#myBtnContainer > button {
		border-radius: 0; 
		margin: 2px;
		display: inline-block;
		width: 90px;
	
	}

	#team .card-deck .card {
		display: none;
		float: left;
		width: 100%;
		min-width: 250px;
		max-width: 250px; 
	}


	#team .card-deck .show {
		display: block;
	}

	#team .card-deck {
		margin-left: 1em;
		margin-right: 1em;
	}



	#team .icon-bg {
		width: 30px;
		height: 30px;
	}


	/* FAQ */
	.accordion__list item > p {
		font-size: 12px!important;
	}
	


	/* REUSABLE */
	.vanish-sm {
		display: none;
	}

	.appear-sm {
		display: block;
	}

	.text-small-sm {
		font-size: 12px;
	}

	.text-smaller-sm {
		font-size: 11px;
	}

	#contact .wrap {
		margin: 0 .5em;
	}

	.break-sm {
		display: block;
	}

	.mt-5-sm {
		margin-top: 2.5em;
	}

	.display-4 {
		font-size: 2.5em;
		text-align: center;
	}

	.center-sm {
		text-align: center;
	}




}

