/* ****** FOR EDITING / TO BE DELETED ********/
/* .container {
	border: 1px solid red;
}

.row {
	border: 1px solid blue;
}

.col {
	border: 1px solid green;
}

.d-flex {
	border-radius: 1px solid yellow;
}

#home, #about, #classes, #reviews {
	height: 100vh;
} */

/******* END OF EDITING AREA ********/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Raleway', sans-serif;*/
}


body {
	width: 100%;
	color: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}


/* Animated buttons */

/* Global Button Styles */
a.animated-button {
	background: transparent;
}

a.animated-button:link, a.animated-button:visited {
	width: 100%;
	height: 100%;;
	position: absolute;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	font-size:14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: inherit;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover, a.animated-button:visited:active,
a.animated-button:visited:focus {
	text-shadow: none;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	outline: none!important;
	color: #fff;
	background: #93291E;
}

.btn.focus, .btn:focus {
	outline: 0;
    box-shadow: none;
}


a.animated-button:link, a.animated-button:visited {
	position: relative;
	color: #f2f2f2;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	outline: none;
}

a.animated-button.victoria-three {
	border: 1px solid #93291E;
	min-width: 180px;
}

a.animated-button.victoria-three--submit {
	background: #93291E;
	color: #f2f2f2;
	/* min-width: 180px; */
}
a.animated-button.victoria-three:after {
	background: #fff;
	color: #93291E;
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

a.animated-button.victoria-three--submit:after {
	background: #93291E;
	color: #fff;
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}


a.animated-button.victoria-three:hover:after {
	height: 140%;
	opacity: 1;
}

/* navbar style */
.navbar-nav a.nav-item { position: relative;}
.navbar-nav a.nav-item:hover {
	color: #93291E;
}
.navbar-nav a.nav-item:hover:after {
	content: " ";
    height: 3px;
    width: 100%;
    position: absolute;
    display: block;
    background: #93291E;
    bottom: -9px;
    left: 2px;
}






/******* HEADER TOP MOST ********/

#header__top {
	width: 100%;
	height: 15vh;
	position: relative;
}

#header__top > .row {
	margin: 5vh;
}

#header__top .company--name {
	font-family: 'Dancing Script', cursive;
	color: #93291E;
	font-size: 3em;
	font-weight: 700;
	padding: 0;
	display: inline-block;
}


img[alt*="phone"],
img[alt*="address"],
img[alt*="email"] {
	width: 30px;
	height: 30px;
	margin-top: 10px;
}


#header-button {
	margin:	2.5vh 0;
	/* padding: 5px 20px; */
	/* background: transparent;
	border: 1px solid #191919; */
} 


#header__top .col:nth-child(2),
#header__top .col:nth-child(3) {
	margin-top: 10px;
}






/******* NAV ********/

#navbar__expand {
	background: #2b2b2b;
}

.navbar-nav {
	padding: 0 5em;
}

.navbar-nav a {
	color: #f2f2f2;
	display: inline-block;
	margin-right: 2em;
} 

/* COLLAPSED NAV */
#nav__collapse {
	background: #2b2b2b;
	text-align: center;
	padding-bottom: 5px;
}

#nav__collapse a {
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
}

#nav__collapse img {
	width: 30px;
	height: 30px;
	padding: 5px;
}

#nav__collapse img:focus {
	border: 2px solid #c5a15b;
}

#nav__collapse {
	display: none;
}  


/******* FOOTER ********/

footer {
	background: #2b2b2b;
	color: #f2f2f2;
	width: 100%;
	height: auto;
	padding: 1em 5em;
}

footer hr {
	padding: 0;
	width: 100%;
	border: .5px solid rgba(122, 118, 112, 0.678);
}

footer .company--name {
	font-family: 'Dancing Script', cursive;
	color: #f2f2f2;
	font-size: 2em;
	font-weight: 700;
}

footer .heading {
	color: #74757f;
}

footer__bottom {
	text-align: center;
	display: block;
	width: 100%;
}




/* ====================================CONTACT===================== */


/******* CONTACT PAGE ********/

#main__contact {
	background: rgba(122, 118, 112, 0.678);
	/* background: rgba(220,220,220, .4); */
}

.bg--image-1 {
	background-image: url(../images/header-1.jpeg);
	background-size: cover;
	height: 40vh;
	position: relative;
}

#contact {
	color: #74757f;
}

#contact-button {
	margin:	2.5vh 0;
}


/* to make Google map responsive */
#google-map {
	position: relative;
	padding-bottom: 75%; 
	height: 0;
	overflow: hidden;
}
#google-map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

/* ================================TEAM ===================== */

.bg--image-2 {
	background-image: url(../images/header-2.jpeg);
	background-size: cover;
	height: 40vh;
	position: relative;
}


/* ================================CLASSES ===================== */


.bg--image-3 {
	background-image: url(../images/header-7.jpeg);
	background-size: cover;
	height: 50vh;
	position: relative;
	background-position-y: center;
}

.coach-1 {
	background: url(../images/coach-1.jpeg);
	background-size: cover;
	position: relative;
}







/* ================================REUSABLE===================== */

.display-4 {
	font-family: 'Dancing Script', cursive;
	/* letter-spacing: .1em; */
	color: #141414;
	vertical-align: bottom;
	text-shadow: 2px 1px  3px white;
	font-weight: 900;
}

.display-6 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: .1em;
	color: #2b2b2b;
}

.heading-small {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	letter-spacing: .1em;
}

.gray-text {
	font-size: 1em;
	color: #74757f;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
}

.emphasize {
	color: #93291E;
	text-shadow: 2px 1px  3px white;
}

.small {
	font-size: 12px;
}

.link {
	text-decoration: none;
	color: #f2f2f2;
}

.link:hover, .link:active, .link:focus {
	text-decoration: none;
	color: #93291E;
}

.red {
	color: #93291E!important;
}


/* .lightbox img {
	height: 70px;
	width: 70px;
	display: inline-block;
	border-radius: 5%;
} */


/* .btn--main {
	background: #93291E;
	color: #f2f2f2;
	width: 30%;
} */


.bg--content {
	position: absolute;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
}







/***** IMPORTANT ******/
input,
textarea,
select {
	outline: 0!important;
	box-shadow: none!important;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus,
input:active,
textarea:active {
    border: 1px solid #93291E;
}

.block {
	display: block;
}

.main-text {
	font-size: 16px;
	color: #74757f;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	display: block;

}

.bold {
	font-weight: 900;
	color: #191919;
}

.icon-bg {
	width: 30px;
	height: 30px;
	margin-top: 10px;
}


.thumbnail-bg {
	width: 10em!important;
	height: 10em!important;
	position: relative;
	border-radius: 5%;
	
} 










/******* ABOUT ********/


.jumbotron {
	background-color: #141414;
	height: 90vh;
	border-radius: 0;

}

#landing-about {
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
}

.fadeIn{
	animation-duration: 5s;
}

#mission {
	height: 100%;
	background-color: #141414;
}

#about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}


#vision {
	height: 100%;
	background-color: #f2f2f2;
}


/******* GALLERY ********/


#gallery .card {
	box-shadow: 1px 1px 10px 4px gray;
	border-radius: 0;
	border-color: 1px solid white;
	width: auto;
}


#gallery .card:hover {
	animation: fadeIn;
	animation-duration: 2s;
	animation-delay: 0s;
}

.myframe {
	width: 100%;
	height: 500px;
}

/* iframe {
	width: 100%;
	height: auto;
} */

textarea {
	margin: 0 15px;
}

.form-control:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control {
	border-radius: 0;
}

#file {
	display: none;
	visibility: hidden;
	position: absolute;
}













/******* FOR EDITING / TO BE DELETED ********/

/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/





/************* DESKTOP **************/

@media only screen and (min-width: 961px) {


	.vanish-lg {
		display: none;
	}

	.appear-lg {
		display: block;
	}

	.wrap {
		background: rgba(220,220,220, .4);
		display: block;
	}

	.break-lg {
		display: block;
	}

	.mt-5-lg {
		margin-top: 2.5em;
	}

}


/************* TABLET **************/

@media only screen and (min-width:426px) and (max-width:960px) {

	/* HEADER */
	#header__top {
		height: auto;
	}

	#header__top > .row {
		margin: 0;
		padding: 0;
	}

	#header__top .col:nth-child(2),
	#header__top .col:nth-child(3) {
		display: none;
	}

	
	


	/* REUSABLE */
	
	.vanish-md {
		display: none;
	}

	.appear-md {
		display: block;
	}

	.text-small-md {
		font-size: 12px;
	}

	.wrap {
		background: #f2f2f2;
	}

	.break-md {
		display: block;
	}

	.display-4 {
		font-size: 2.5em;
		text-align: center;
	}

	.mt-5-md {
		margin-top: 2.5em;
	}


}



/************* MOBILE **************/

@media only screen and (max-width:425px) {


	/* HEADER TOP */
	#header__top {
		height: auto;
	}

	#header__top > .row {
		margin: 0;
		padding: 0;
	}


	#header__top img:first-of-type {
		padding-left: 0;
	}

	#header__top .col:nth-child(2),
	#header__top .col:nth-child(3) {
		display: none;
	}

	/* NAV */
	#nav__collapse {
		display: block;
	}

	
	/* FOOTER */
	footer {
		padding: 2em;
	}

	/* MAIN__CONTACT */
	#main__contact  img[alt*="phone"],
	#main__contact  img[alt*="email"],
	#main__contact  img[alt*="address"] {
		width: 25px;
		height: 25px;
		margin-top: 0;
	}

	
	

	/* REUSABLE */
	.vanish-sm {
		display: none;
	}

	.appear-sm {
		display: block;
	}

	.text-small-sm {
		font-size: 12px;
	}

	.wrap {
		padding: 2em;
		background: #f2f2f2;
	}

	.break-sm {
		display: block;
	}

	.mt-5-sm {
		margin-top: 2.5em;
	}

	.display-4 {
		font-size: 2.5em;
		text-align: center;
	}

	

}

